.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  --clr-white: hsl(0, 0%, 100%);

  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-stone-150: hsl(30, 18%, 87%);
  --clr-stone-600: hsl(30, 10%, 34%);
  --clr-stone-900: hsl(24, 5%, 18%);

  --clr-brown-800: hsl(14, 45%, 36%);

  --clr-rose-800: hsl(332, 51%, 32%);
  --clr-rose-50: hsl(330, 100%, 98%);
}

body {
  background-color: var(--clr-stone-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.recipe {
  background: var(--clr-white);
  max-width: 375px;
  gap: 40px;
}

.recipe__body {
  margin-left: 32px;
  margin-right: 32px;
  gap: 24px;
}

.recipe__title,
.recipe h2,
.recipe h3 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--clr-brown-800);
}

.recipe h2 {
  margin-bottom: 28px;
}

.recipe h3 {
  margin-bottom: 20px;
}

.recipe__title {
  font-size: 36px;
  color: var(--clr-stone-900);
}

.recipe__paragraph,
.recipe li {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--clr-stone-600);
}

.recipe__preparation-time {
  background-color: var(--clr-rose-50);
  padding: 24px;
}

.recipe ul,
.recipe ol {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.recipe li {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-left: 25px;
}

.recipe li:before {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 16px;

  position: absolute;
  left: 0;
  top: 0;
  color: var(--clr-brown-800);
}

.recipe ul li:before {
  content: "•";
}

.recipe ol {
  counter-reset: ol-counter;
}

.recipe ol li {
  counter-increment: ol-counter;
}

.recipe ol li::before {
  content: counter(ol-counter) ". ";
}

.recipe__nutrition p {
  margin-bottom: 24px;
}

.recipe__nutrition--table .row {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--clr-stone-150);
}

.recipe__nutrition--table .row:first-child {
  padding-top: 0;
}

.recipe__nutrition--table .row:last-child {
  padding-bottom: 0;
}

.recipe__nutrition--table .row:last-child {
  border-bottom: none; /* Remove the border on the last item */
}

.recipe__nutrition--table .row .column {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--clr-stone-600);
}

.recipe__nutrition--table .row .column:nth-child(1) {
  padding-left: 40px;
}

.recipe__nutrition--table .row .column:nth-child(2) {
  font-weight: 900;
  color: var(--clr-brown-800);
}

hr {
  color: var(--clr-stone-150);
  background: var(--clr-stone-150);
}

/* Tablet */
@media (min-width: 376px) {
  .wrapper {
    margin: 128px 0;
  }
  .recipe {
    border-radius: 26px;
    padding: 40px;
    max-width: 616px;
  }

  .recipe__dish {
    border-radius: 26px;
  }
}

/* Desktop */
@media (min-width: 920px) {
  .recipe {
    max-width: 736px;
  }
}
